<main class="contenedor contenedor-formularios no-padding">
    <h1><%- pageName %></h1>

    <form class="default-form" action="/changePassword" method="POST">
        <div class="campo">
            <label>Contrase単a actual</label>
            <input type="password" name="actPass" placeholder="Contrase単a actual">
        </div>
        <div class="campo">
            <label>Contrase単a nueva</label>
            <input type="password" name="newPass" placeholder="Contrase単a nueva">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Guardar Cambios">
        </div>
    </form>
</main>