<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Meets - </title>
</head>
<body>
    
    <header class="site-header contenedor">
        <a href="/">
            <img src="img/logo.png" alt="Logo Meeti">
        </a>
        <nav class="nav">
            <a href="/newGroup">Crear grupo</a>
            <a href="/login">Iniciar sesión</a>
            <a href="/signup">Crear cuenta</a>
        </nav>
    </header>
    <%- body %>
    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="/newGroup">Crear grupo</a>
            <a href="/login">Iniciar sesión</a>
            <a href="/signup">Crear cuenta</a>
        </nav>
        <p class="copyright">
            Todos los derechos reservados Meeti <%- year %> &copy;
        </p>
    </footer>

</body>
</html>