<main class="contenedor contenedor-formularios no-padding">
    <h1><%= pageName %></h1>
    <form action="/newGroup" method="POST" class="default-form">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="name" placeholder="Nombre del grupo">
        </div>
        <div class="campo descripcion">
            <label>Descripción</label>
            <div class="contenedor-editor">
                <input type="hidden" name="description" id="x">
                <trix-editor input="x">x</trix-editor>
            </div>
        </div>
        <div class="campo">
            <label>Categoría</label>
            <select name="categoryId">
                <option value="" selected disabled>--Seleccione una categoría--</option>
                <% categories.forEach( category => {  %>
                    <option value="<%= category.id %>"><%= category.name %> </option>
                <% }) %>  
            </select>
        </div>
        <div class="campo">
            <label>Imágen del grupo</label>
            <input type="file" name="image">
        </div>
        <div class="campo">
            <label>Sitio web / Redes sociales </label>
            <input type="url" name="url" placeholder="URL de tu red">
        </div>
        <div class="campo enviar">
            <input type="submit" value="Crear grupo" class="btn btn-rosa">
        </div>
    </form>
</main>