<h1 style="
    text-align: center;
    font-family: Arial, Helvetica;">Confirmar tu cuenta en Meeti</h1>
<p style="font-family: Arial, Helvetica;">Hola! Estás a un paso de crear tu cuenta, para esto hacé click en el siguiente enlace</p>
<a style="
    display: block;
    font-family: Arial, Helvetica;
    padding: 1rem;
    background-color: #00c897;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
     " 
    href="<%= url  %>">Confirmá tu cuenta</a>
<p style="font-family: Arial, Helvetica;">Si no podés acceder a este enlace, visitá: <%= url %> </p>
<p style="font-family: Arial, Helvetica;">Si no solicitaste este email podes ignorarlo.</p>